.social-login
    button.social-login--github
        a(href=routes.github)
            span
                <i class="fab fa-github"></i>
                |Continue with github
    button.social-login--kakao
        a(href=routes.kakao)
            span
                <i class="fab fa-kakao"></i>
                |Continue with kakao
