extends layouts/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="password" placeholder="password")
            input(type="password2" placeholder="password2")
            input(type="submit" value="change password")