extends layouts/main

block content
    .form-container
        form(action=routes.editVideo(id), method="post")
            input(type="text" value=video.title name="title" placeholder="title")
            input(type="text" value=video.description name="description" placeholder="description")
            input(type="submit" value="Edit video")
            a(href=routes.deleteVideo(id)) delete video