extends layouts/main
include mixins/videoBlock
include mixins/videoPlayer

block content
    .videos
        .home-videos
            each video in videos
                div.video_box
                    +videoBlock({
                        id: video.id,
                        title: video.title,
                        views: video.views,
                        videoFile: video.fileUrl
                    })